<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Directory Listing</h1>
    <ul id="Directory">

    </ul>
    <script type="text/javascript">
      (function(files){
        var _dirNode = document.getElementById('Directory')
          , _fileNode = {};

        files.forEach(function(f,i){
          _fileNode = document.createElement('li');
          _fileNode.innerHTML = '<a href="'+f+'">'+f.replace(/(\?)(.*)/,'')+'</a>';
          _dirNode.appendChild(_fileNode);
        });
      }(directory))
    </script>
  </body>
</html>
